aws_region      = "us-west-2"
project_name    = "pdf-remediation-test"
bucket_name     = "pdf-remediation-test-bucket"
ecr_repo_name   = "pdf-remediation-test-app"
image_uri       = "<full image URI with:tag>"
desired_count   = 1
container_port  = 8080
vpc_id          = "vpc-xxxxxxxxxxxxxxxxx"

subnet_ids = [
  "subnet-xxxxxxxxxxxxxxxxx",
  "subnet-xxxxxxxxxxxxxxxxx",
  "subnet-xxxxxxxxxxxxxxxxx"
]
bda_project_arn  = "<bda project arn>"
