aws_region      = "us-west-2"
project_name    = "pdf-remediation-test"
bucket_name     = "pdf-remediation-bucket"
ecr_repo_name   = "pdf-remediation-app"
image_uri       = "<full image URI with:tag>"
desired_count   = 1
container_port  = 8080
vpc_id          = "vpc-01f9ed4702108fef0"

subnet_ids = [
  "subnet-02b1343bf83ae6322",
  "subnet-0a175a933a579e7ea",
  "subnet-0b961bbc90300eb3f"
]
bda_project_arn  = "<bda project arn"
